<style>
  .fixed-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1030;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .user-info img {
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  .user-info .username {
    font-size: 16px;
    font-weight: bold;
  }
</style>

<div class="fixed-top-bar">
  <div class="logo">
    <a href="#" class="text-white text-decoration-none">
      <i class="bi bi-house-door-fill"></i> G3vent
    </a>
  </div>
  <div class="user-info">
    <div class="username">Nome do Usuário</div>
    <img src="https://via.placeholder.com/40" alt="User Avatar" />
  </div>
</div>

<div style="height: 200px;">XX</div>
