<style>
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 80px;
            background-color: #AAC;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .sidebar a {
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
            width: 100%;
            padding: 0px 0;
            text-decoration: none;
            transition: background-color 0.3s;
        }
        .sidebar a:hover {
            background-color: #e9f0e7;
        }
        .sidebar a i {
            font-size: 24px;
        }

      .sidebar a:last-child {
          margin-top: auto; /* Alinha o último item no final */
      }
    </style>

    <div class="sidebar">
        <div style="height: 50px"></div>
        <a [routerLink]="['/']"><img [src]="icone_events" class="img-fluid p-3" title="Meus eventos"></a>
        <a [routerLink]="['/certificate']"><img [src]="icone_certificate" class="img-fluid p-2" title="Meus eventos"></a>
        <a href="#"><i class="bi bi-bell-fill"></i></a>
        <a [routerLink]="['/about']"><img [src]="logo_g3vent" class="img-fluid p-2" title="Meus eventos"></a>
    </div>
