/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.bodyG3 {
  background-color: #9DADAF;
}

.bodyG3b {
  background-color: #8D9D9F;
}

.imputG3b{
  border: 1px solid #333;
}
