<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil do Usuário</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Nome completo</label><input type="text" class="form-control imputG3b" placeholder="nome completo" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">e-mail</label><input type="text" class="form-control imputG3b" placeholder="entre com seu e-mail" value=""></div>
                    <div class="col-md-6"><label class="labels">e-mail (alternativo)</label><input type="text" class="form-control imputG3b" placeholder="e-mail alternativo" value=""></div>
                    <div class="col-md-6"><label class="labels">Número do Celular</label><input type="text" class="form-control imputG3b" placeholder="número do celular" value=""></div>
                    <div class="col-md-3"><label class="labels">Cidade</label><input type="text" class="form-control imputG3b" placeholder="Cidade" value=""></div>
                    <div class="col-md-3"><label class="labels">Estado</label><input type="text" class="form-control imputG3b" placeholder="Estado (Brasil)" value=""></div>
                    <div class="col-md-12"><label class="labels">Instituição</label><input type="text" class="form-control imputG3b" placeholder="instituição de afiliação" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Senha de acesso</label><input type="text" class="form-control imputG3b" placeholder="nova senha" value=""></div>
                    <div class="col-md-6"><label class="labels">&nbsp;</label><br/><button class="btn btn-secondary">Alterar senha</button></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Pais</label><input type="text" class="form-control imputG3b" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">Formação</label><input type="text" class="form-control imputG3b" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>
