<div class="container mt-2">
  <div class="row">
    <div class="col=12 small">Nome do usuário</div>
    <div class="col-12 bold big">{{ user.nome }}</div>

    <div class="col-6 col-lg-4 mt-3"><span class="small">e-mail</span>
            <br><b>{{ user.email }}&nbsp;</b></div>
    <div class="col-6 col-lg-4 mt-3"><span class="small">Crachá</span><br><b>{{ user.cracha }}</b>&nbsp;</div>
    <div class="col-6 col-lg-4 mt-3"><span class="small">OrcID</span><br><b>{{ user.orcid }}&nbsp;</b></div>

    <div class="col-12 small mt-3">Afiliação institucional</div>
    <div class="col-12 bold " *ngIf="user.afiliacao">{{ user.afiliacao }}</div>
    <div class="col-12 bold " *ngIf="!user.afiliacao">Não informado</div>

    <div class="col=12 small mt-3" *ngIf="action">
        <button class="btn btn-outline-danger me-3" (click)="logout()">Sair do sistema</button>
        <a [routerLink]="['/update_profile']" class="btn btn-outline-primary">Atualizar dados</a>
    </div>
  </div>
</div>
