<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">INSCRIÇÕES</div>
    <div class="col-12 col-lg-9">
      <!-- inscricao-form.component.html -->
      <div *ngIf="phase == '0'">
        <h1>Inscrição para Evento</h1>
        <form [formGroup]="inscricaoForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="email">Informe seu e-mail:</label>
            <input
              id="email"
              formControlName="email"
              class="big form-control border border-secondary rounded"
            />
            <div
              class="error"
              style="color: red"
              *ngIf="inscricaoForm.invalid && inscricaoForm.value['email']"
            >
              E-mail inválido
            </div>
          </div>
          <br />
          <button
            class="btn-outline-secondary btn"
            type="submit"
            [disabled]="inscricaoForm.invalid"
          >
            Inscrever-se
          </button>
        </form>
      </div>

      <!-- inscricao-form.component.html -->
      <div *ngIf="phase == '1'">
        <span>Nome</span>
        <h1>{{data.nome}}</h1>
        <h4>{{data.email}}</h4>
        <h4>{{data.afiliacao}}</h4>
        {{ data | json}}
      </div>

      <!-- inscricao-form.component.html -->
      <div *ngIf="phase == '2'">
        <h1>Dados do usuário</h1>
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="email">e-mail:</label>
            <h3>{{email}}</h3>

            <label for="Nome" class="mt-3">Nome completo:</label>
            <input
              id="nome"
              formControlName="nome"
              class="form-control border border-secondary rounded big"
            />

            <div
              class="error"
              style="color: red"
              *ngIf="cadastroForm.value['nome'] == ''"
            >
              Nome completo obrigatório Obrigatório
            </div>
            <div *ngIf="validaCadastro()" class="error" style="color: red">{{valida_nome_message}}</div>

            <br/>
            <label for="afiliacao" class="mt-3">Afiliação (Instituição):</label>
            <input
              id="afiliacao"
              formControlName="afiliacao"
              class="form-control border border-secondary rounded big"
            />

            <br/>
            <label for="orcid" class="mt-3">Seu OrcID (xxxx-xxxx-xxxx-xxxx):</label>
            <input
              id="orcid"
              formControlName="orcid"
              class="form-control border border-secondary rounded big"
              style="width: 300px;"
            />

            <br/>
            <label for="cpf" class="mt-3">CPF:</label>
            <input
              id="cpf"
              formControlName="cpf"
              class="form-control border border-secondary rounded big"
              style="width: 300px;"
            />

            <div
              class="error"
              style="color: red"
              *ngIf="cadastroForm.value['cpf'] == ''"
            >
              CPF Obrigatório
            </div>

            <br/>
            <label for="cracha_ufrgs" class="mt-3">Nº Cracha (Se for UFRGS):</label>
            <input
              id="cracha_ufrgs"
              formControlName="cracha_ufrgs"
              class="form-control border border-secondary rounded big"
              style="width: 300px;"
            />


          </div>
          <br />
          <button
            class="btn-outline-primary btn"
            type="submit"
            (click)="validaCadastro()"
            [disabled]="inscricaoForm.invalid"
          >            Inscrever-se

          </button>
        </form>
      </div>
    </div>
  </div>
</div>
