<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
        </div>
        <div class="col-md-6 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="text-right">Cadastro de usuário</h4>
                    </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p>Para ser cadastrar informe seu e-mail, assim que enviado você receberá instruções em seu e-mail.</p>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">e-mail</label><input type="text" class="form-control imputG3b" placeholder="entre com seu e-mail" value=""></div>
                </div>
                <div class="mt-2 text-center"><button class="btn btn-primary profile-button" type="button">Cadastrar usuário</button></div>
            </div>
        </div>
    </div>
</div>
